# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/node_modules/

# docs
/docs/generated/
/docs/_build/

# pypi exclusion
/src/hescape/modules/metrics.py

# hydra experiments exclusion
/experiments/hest_benchmark
/experiments/nicheformer
/experiments/uce
/experiments/drvi_pretrain
/experiments/hescape_pretrain/slurm_interactive.bash

# results exclusion
outputs
multirun
uv.lock
